<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="row">
<div class="col-mod-3">
product Id: <%= @product.id %>
</div><br/>

<div class="col-mod-3">
Name: <%= @product.name %>
</div><br/>

<div class="col-mod-3">
Description: <%= @product.description%>
</div><br/>

<div class="col-mod-3">
category: <%= @product.category %>
</div><br/>


</div>
</div>
</div>
